* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body {
	background-color: dodgerblue;
}
.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-content: center;
}
.form-container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 450px;
	min-width: 300px;
	margin: 50px;
	transition: all 0.6s ease-in-out;
}
.sign-header {
	align-self: flex-start;
	margin: 50px 0px 0 50px;
}
form {
	background-color: #ffffff;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	min-width: 336px;
}

.error {
	border: 2px solid;
	border-color: #ff4b2b;
}
form .error-message {
	text-align: left;
	padding: 2px;
	color: red;
	text-decoration-color: #ff4b2b;
	font-size: small;
}
button {
	border-radius: 20px;
	border: 1px solid #ff4b2b;
	background-color: #ff4b2b;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
	input {
		min-width: 0;
	}
}

@media only screen and (max-width: 500px) {
	.container {
		width: 100%;
	}
	input {
		min-width: 0;
	}
}
